* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(245, 114, 114);
    background: linear-gradient(90deg, rgba(245, 114, 114, 1) 47%, rgba(236, 223, 134, 1) 100%);
    background-size: cover;
    padding: 40px;
}

.forgot-password-form {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.forgot-password-form h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 28px;
}


.input-control label {
    display: inline-block;
    background-color: white;
    margin-bottom: 30px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}

.forgot-password-form input[type="email"],
input[type="text"] {
    width: 100%;
    height: 45px;
    padding: 0 2rem;
    outline: none;
    font-size: 18px;
    border-radius: 100px;
    margin-bottom: 20px;
}



.forgot-password-form button[type="submit"] {
    background: linear-gradient(90deg, rgba(245, 114, 114, 1) 47%, rgba(236, 223, 134, 1) 100%);
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.forgot-password-form button[type="submit1"] {
    background: linear-gradient(90deg, rgba(245, 114, 114, 1) 47%, rgba(236, 223, 134, 1) 100%);
    font-size: 18px;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 10px 20px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.valid-cred {
    display: none;
    color: rgb(3, 195, 3);
}

.invalid-cred{
    display: none;
    color: red;
}

.forgot-password-form button[type="submit"]:hover {
    transform: scale(1.03);
}

@media screen and (min-width: 768px) {
    .forgot-password-form {
        margin-top: 10%;
    }
}